**1 :- What are data structures, and why are they important**

Data structures are fundamental ways of organizing and storing data for efficient access and manipulation within computer programs. They are important because they enable efficient algorithms, improve code readability, and make data management more effective.

**2 :- Explain the difference between mutable and immutable data types with examples**

Mutable data types are those that can be modified after their creation, while immutable data types cannot be changed once they are created

In [ ]:
# Example_Mutable Data Types:

In [ ]:
my_list = [1, 2, 3]
my_list.append(4)
print(my_list)

[1, 2, 3, 4]

In [ ]:
# Example_Immutable Data Types:

In [ ]:
my_str = "hello"
my_str.[0] = "H"

TypeError: 'str' object does not support item assignment

**3 :- What are the main differences between lists and tuples in Python**

Key Differences between List and Tuple

List :-
1 - Lists are mutable(can be modified).
2 - Iteration over lists is time-consuming.
3 - Lists are better for performing operations, such as insertion and deletion.
4 - Lists consume more memory.
5 - Lists have several built-in methods.


Tuple :-
1 - Tuples are immutable(cannot be modified).
2 - Iterations over tuple is faster
3 - Tuples are more suitable for accessing elements efficiently.
4 - Tuples consumes less memory
5 - Tuples have fewer built-in methods.

**4:- Describe how dictionaries store data**

A dictionary in Python is an unordered, mutable collection that stores data in key-value pairs.

**5:- Why might you use a set instead of a list in Python**

Sets and lists are both used to store collections of items in Python, but they have key differences that make them suitable for different situations.
Key Differences:

Uniqueness:

Sets only store unique elements, automatically removing duplicates. Lists allow duplicate elements.

Order:

Sets are unordered, meaning the elements don't have a specific sequence. Lists are ordered, and elements retain their insertion order.

Mutability:

Sets are mutable, allowing you to add and remove elements after creation. However, the elements themselves must be immutable (e.g., numbers, strings, tuples). Lists are also mutable, allowing you to add, remove, and modify elements.

Indexing:

Lists support indexing, allowing you to access elements by their position. Sets do not support indexing.

Performance:

Sets have faster membership testing and duplicate removal compared to lists.

**6:- What is a string in Python, and how is it different from a list**

In Python, a string is an immutable sequence of characters enclosed in single or double quotes, while a list is a mutable, ordered sequence of items enclosed in square brackets. Strings can only contain characters, while lists can hold various data types, including strings, numbers, and even other lists.
Elaboration:

Strings:

Strings are used to represent textual data and are considered immutable, meaning they cannot be changed once created.

Lists:

Lists are versatile data structures that can store a variety of data types, including strings, integers, floats, booleans, and even other lists (nested lists). They are mutable, meaning you can modify, add, or remove elements after the list has been created.

**7:- How do tuples ensure data integrity in Python**

In Python, tuples ensure data integrity primarily through their immutability, which means once a tuple is created, its contents cannot be changed. This property makes them ideal for representing constant and reliable data.

Key Ways Tuples Ensure Data Integrity

Immutability

Fixed Structure

Safe Sharing

**8:- What is a hash table, and how does it relate to dictionaries in Python**

A hash table is a data structure that stores key-value pairs and allows for fast data access based on keys. It works by using a hash function to convert a key into an index in an underlying array, where the corresponding value is stored.

In Python, a **dictionary** is implemented using a hash table internally.

**9:- Can lists contain different data types in Python**

Yes, lists in Python can contain elements of different data types.

**10:- Explain why strings are immutable in Python**

Strings in Python are "immutable" which means they can not be changed after they are created. Some other immutable data types are integers, float, boolean, etc.

In [ ]:
my_string = "Hello, world!"
my_string[0] = "h"

TypeError: 'str' object does not support item assignment

**11:- What advantages do dictionaries offer over lists for certain tasks**

The list allows duplicate items, while the dictionary does not allow any duplicate keys.

**12:- Describe a scenario where using a tuple would be preferable over a list**

If you have data that's not meant to be changed in the first place — such as critical information or records — you should choose tuple data type over lists.

**13:- How do sets handle duplicate values in Python**

In Python, a set is an unordered collection of unique elements. It automatically removes duplicate values, ensuring that each element appears only once.

Here's how sets handle duplicates:

Automatic Removal

No Modification

Uniqueness

**14:- How does the “in” keyword work differently for lists and dictionaries**

The in keyword is used to check membership, but its behavior depends on the type of collection you're using.

In [ ]:
#For List
fruits = ["apple", "banana", "cherry"]

print("banana" in fruits)
print("orange" in fruits)

True
False

In [ ]:
#For Dictionaries
person = {"name": "Nishant", "age": 29}

print("name" in person)
print("Nishant" in person)

True
False

**15:- Can you modify the elements of a tuple? Explain why or why not**

No, you cannot modify the elements of a tuple in Python

In [ ]:
#Attempting to Modify a Tuple
my_tuple = (1, 2, 3)
my_tuple[0] = 10

TypeError: 'tuple' object does not support item assignment

**16:- What is a nested dictionary, and give an example of its use case**

A nested dictionary in Python is a dictionary where the values are themselves dictionaries

In [ ]:
Dict = { 'Dict1': { },'Dict2': { }}
print("Nested dictionary 1-")
print(Dict)

Nested dictionary 1-
{'Dict1': {}, 'Dict2': {}}

17:- **Describe the time complexity of accessing elements in a dictionary**

In Python, dictionaries are implemented using hash tables, which allow for efficient key-based access.

In [ ]:
# Create a dictionary
dict = {'a': 1, 'b': 2, 'c': 3}

# Access value by key
val = dict['b']
print(val)

2

**18:- In what situations are lists preferred over dictionaries**

While dictionaries are great for key-value mappings, lists are often the better choice when

**19:- Why are dictionaries considered unordered, and how does that affect data retrieval**

A dictionary is considered an unordered collection because the order in which key-value pairs are added to the dictionary does not affect how they are stored or accessed.

**20:- Explain the difference between a list and a dictionary in terms of data retrieval.**

Lists in Python

In Python, a list is a built-in dynamic sized array (automatically grows and shrinks). We can store all types of items (including another list) in a list. A list may contain mixed type of items, this is possible because a list mainly stores references at contiguous locations and actual items maybe stored at different locations.

Dictionary in Python

A Python dictionary is a data structure that stores the value in key: value pairs. Values in a dictionary can be of any data type and can be duplicated, whereas keys can’t be repeated and must be immutable.

**Write a code to create a string with your name and print it**

In [1]:
my_name = "Nishant Raghav"
print(my_name)

Nishant Raghav

**Write a code to find the length of the string "Hello World"**

In [4]:
string = "Hello World"
len(string)

11

**Write a code to slice the first 3 characters from the string "Python Programming"**

In [6]:
string = "Python Programming"
print(string[0:3])

Pyt

**Write a code to convert the string "hello" to uppercase**

In [9]:
text = "hello"
uppercase_text = text.upper()
print(uppercase_text)

HELLO

**Write a code to replace the word "apple" with "orange" in the string "I like apple"**

In [11]:
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

**Write a code to create a list with numbers 1 to 5 and print it**

In [12]:
my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

**Write a code to append the number 10 to the list [1, 2, 3, 4]**

In [14]:
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

**Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]**

In [19]:
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

**Write a code to access the second element in the list ['a', 'b', 'c', 'd']**

In [27]:
my_list = ['a', 'b', 'c', 'd']
print(my_list[1])

b

**Write a code to reverse the list [10, 20, 30, 40, 50].**

In [23]:
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

**Write a code to create a tuple with the elements 100, 200, 300 and print it.**

In [24]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

**Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').**

In [29]:
my_tuple = ('red', 'green', 'blue', 'yellow')
print(my_tuple[-2])

blue

**Write a code to find the minimum number in the tuple (10, 20, 5, 15).**

In [30]:
my_tuple = (10, 20, 5, 15)
print(min(my_tuple))

5

**Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').**

In [33]:
my_tuple = ('dog', 'cat', 'rabbit')
print(my_tuple.index('cat'))

1

**Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.**

In [39]:
my_fruits = ("apple", "kiwi", "banana")
if "Kiwi" in my_fruits:
  print(True)
else:
  print(False)

False

**Write a code to create a set with the elements 'a', 'b', 'c' and print it.**

In [40]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'c', 'a'}

**Write a code to clear all elements from the set {1, 2, 3, 4, 5}.**

In [43]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

**Write a code to remove the element 4 from the set {1, 2, 3, 4}.**

In [44]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

**Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.**

In [45]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

**Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.**

In [47]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

**Write a code to create a dictionary with the keys "name", "age", and "city", and print it.**

In [48]:
my_dict = {"name": "Nishant", "age": "29", "city": "Meerut"}
print(my_dict)

{'name': 'Nishant', 'age': '29', 'city': 'Meerut'}

**Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.**

In [50]:
my_dict = {"name": "John", "age": "25"}
my_dict["country"] = "USA"
print(my_dict)

{'name': 'John', 'age': '25', 'country': 'USA'}

**Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.**

In [51]:
my_dict = {'name': 'Alice', 'age': 30}
name_value = my_dict["name"]
print(name_value)

Alice

**Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.**

In [52]:
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict["age"]
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

**Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.**

In [56]:
my_dict = {'name': 'Alice', 'city': 'Paris'}
if "city" in my_dict:
    print(True)
else:
    print(False)

True

**Write a code to create a list, a tuple, and a dictionary, and print them all.**

In [59]:
my_list = [1, 2, 3, 4, 5]
my_tuple = (1, 2, 3, 4, 5)
my_dict = {"name": "Nishtant", "age": "29"}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{'name': 'Nishtant', 'age': '29'}

Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [61]:
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[23, 59, 65, 78, 89]

**Write a code to create a list with strings and print the element at the third index.**

In [63]:
my_string_list = ["apple", "banana", "cherry", "date", "orange", "kiwi"]
print(my_string_list[3])

date

**Write a code to combine two dictionaries into one and print the result.**

In [64]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined_dict_update = dict1.copy()
combined_dict_update.update(dict2)
print(combined_dict_update)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

**Write a code to convert a list of strings into a set.**

In [65]:
string_list = ["apple", "banana", "cherry", "apple", "date"]
string_set = set(string_list)
print(string_set)

{'banana', 'date', 'apple', 'cherry'}